@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
  margin: 0;
    font-family: 'Inter', 'League Spartan', sans-serif,  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    font-family: 'DM Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.PhoneInputCountryIconImg{
  height: 20px;
}
.PhoneInputInput{
padding: 10px;
margin: 10px;
}

/* Style for the verification container */
.verification-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; Set the height of the container to the full viewport height */
  color: #345430;
  margin-bottom: 20px;
  margin-top: 15px;
}

/* Style for each box (input) in the verification container */
.verification-container .verification-character {
  border: 2px solid #345430; /* Default border color */
  border-radius: 8px; /* Add border radius */
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  text-align: center; /* Center the text within the box */
  font-size: 20px; /* Adjust the font size as needed */
  margin: 4px; /* Add some margin between the boxes */
}
/* Style for the verification container when in focus */
.verification-container:focus-within {
  border-color: #345430; /* Border color on focus */
}

/* Style for the verification container when in error */
.verification-container.error {
  border-color: red; /* Border color on error */
}
.css-1vgunc4:hover{
  color: #345430 ;
}
.css-53fww0,
.css-7yxbe8{
  width: 100%;
  max-width: 90vw;
}
.flutter{
    background-color: #345430;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}